extends layout

block content
  h2.page-header Register
  p Please login below
  form(method='post', action='/users/register')
  .form-group
    label UserName
    input.form-control(name='username' type='text' placeholder='username')
  .form-group
    label Password
    input.form-control(name='password' type='password' placeholder='password')
  input.btn.btn-primary(name='login' type='submit' value='Login')
