extends layout

block content
  h2.page-header Register
  p Please register using the form below
  form(method='post', action='/users/register', enctype='multipart/form-data')
  .form-group
    label Name
    input.form-control(name='name' type='text' placeholder='johnny')
  .form-group
    label Email
    input.form-control(name='email' type='email' placeholder='your@email.com')
  .form-group
    label UserName
    input.form-control(name='username' type='text' placeholder='johnny2chainz')
  .form-group
    label Password
    input.form-control(name='password' type='password' placeholder='password')
  .form-group
    label Confirm Password
    input.form-control(name='password2' type='password' placeholder='password')
  .form-group
    label Profile Image
    input.form-control(name='profileimage' type='file' )
  input.btn.btn-primary(name='submit', type='submit', value='Register')
